{% extends "base.html" %}

{% block title %}Edit User Page{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in user_form %}
                <div class="mt-2">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <br>

            {{ profile_form.as_p }}
            
            <input type="submit" class="btn btn-primary mt-3" value="Save">
        <form>
            
        <p class="mt-2">If you want to change your password? <a href="{% url 'password_change' %}">Click here</a></p>

    {% else %}
        <h1>You are not authenticated. Please log in first.</h1>
    {% endif %}
{% endblock %}
