{% extends "base.html" %}

{% block title %}Login Page{% endblock title %}

{% block content %}
    {% if not user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if message %}
                <p class="text-danger">{{ message }}</p>
                <p>Forgot your password? <a href="#">Reset password</a></p>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    {% else %}
        <h1>You are log in</h1>
    {% endif %}
{% endblock content %}