{% extends "base.html" %}

{% block title %}Password Change Page{% endblock title %}

{% block content %}
    <h1 class="mb-3">Change password</h1>
    <h4 class="mb-2">Please fill all input fields bellow.</h4>
    <hr class="mb-3">
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                    <div class="my-3 d-flex">
                        <div class="fw-semibold" style="width:9rem">{{ field.label_tag }}</div>
                        <div>{{ field }}</div>
                        <div>{{ field.errors }}</div>
                    </div>
                {% endfor %}
            <input type="submit" class="btn btn-primary" value="Change">
        </form>
    
    {% endif %}
{% endblock content %}