{% extends "base.html" %}

{% block title %}User Profile{% endblock title %}

{% block content %}
    <h1>{{ user.username|title }}'s profile page</h1>
    <hr>
    <h4>Username: {{ user.username }}</h4>
    <h4>First name: {{ user.first_name|title }}</h4>
    <h4>Last name: {{ user.last_name|title }}</h4>
    <h4>Email-address: {{ user.email }}</h4>
    <img class="rounded" width="250px" heigh="auto" src="{{ user.profile.img.url }}">
    <div class="mt-2">
        <a class="btn btn-success rounded" href="{% url 'edit_user' %}">Edit profile</a>
        <a class="btn btn-danger rounded" href="#">Delete profile</a>
    </div>
{% endblock content %}
